client_1.11/client/xml-artifacts/smev-business-process-metadata-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="urn://x-artefacts-smev-gov-ru/services/message-exchange/business-process-metadata/1.0" 
		   xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
		   xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           targetNamespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/business-process-metadata/1.0" 
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
		   jxb:version="2.0"
		   >

	<xs:annotation>
		<xs:documentation>Описание метаданных бизнес-процесса, передаваемых в сообщениях СМЭВ.</xs:documentation>
		<xs:appinfo>
			<jxb:schemaBindings>
				<!-- Напишите здесь имя пакета, в который должны попасть классы, сгенерированные из этой схемы с помощью wsimport (для JAX-WS) -->
				<jxb:package name="ru.voskhod.smev.message_exchange.autogenerated.bp_metadata.v1_0"/>
			</jxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>
		   
	<xs:element name="CaseInfo" type="tns:CaseInfoType"/>
	<xs:element name="frgu" type="tns:string-50"/>
	
	<xs:complexType name="CaseInfoType">
		<xs:sequence>
			<xs:element name="CaseNumber" type="tns:string-100" minOccurs="0">
				<xs:annotation><xs:documentation>Номер дела.</xs:documentation></xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:element name="ServiceOrFunction" type="tns:ServiceOrFunctionType">
					<xs:annotation><xs:documentation>Признак: в рамках госуслуги или госфункции послан запрос.</xs:documentation></xs:annotation>
				</xs:element>
				<xs:element name="ServiceOrFunctionCode" type="tns:string-50">
					<xs:annotation><xs:documentation>Код (номер по реестру) госуслуги или госфункции.</xs:documentation></xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ServiceOrFunctionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SERVICE">
				<xs:annotation><xs:documentation>Запрос послан в ходе оказания госуслуги.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FUNCTION">
				<xs:annotation><xs:documentation>Запрос послан в ходе выполнения госфункции.</xs:documentation></xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="InteractionStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="doesNotExist">
				<xs:annotation><xs:documentation>Запрос с таким Id не найден в БД СМЭВ.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="requestIsQueued">
				<xs:annotation><xs:documentation>Запрос находится в очереди СМЭВ.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="underProcessing">
				<xs:annotation><xs:documentation>Обрабатывается поставщиком сервиса.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="responseIsQueued">
				<xs:annotation><xs:documentation>Запрос выполнен или отвергнут поставщиком сервиса; ответ находится в очереди СМЭВ.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cancelled">
				<xs:annotation><xs:documentation>Запрос отменён потребителем сервиса.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="responseIsDelivered">
				<xs:annotation><xs:documentation>Ответ получен потребителем сервиса.</xs:documentation></xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	

	<xs:simpleType name="InteractionTypeType">
		<xs:annotation><xs:documentation>Тип взаимодействия</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PGU2OIV">
				<xs:annotation><xs:documentation>Взаимодействие портала государственных и/или муниципальных услуг с органом власти.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OIV2OIV">
				<xs:annotation><xs:documentation>Взаимодействие между органами власти.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OIV2sameOIV">
				<xs:annotation><xs:documentation>Взаимодействие между различными информационными системами одного органа исполнительной власти через СМЭВ.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Charger2PaymentGate">
				<xs:annotation><xs:documentation>Взаимодействие информационно-платежного шлюза с поставщиками начислений для оплаты услуг в электронном виде.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PaymentGate2Treasury">
				<xs:annotation><xs:documentation>Взаимодействие информационно-платежного шлюза с системой УНИФО ФК для получения начислений и фактов оплаты для пользователей ПГУ.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OIV2Treasury">
				<xs:annotation><xs:documentation>Взаимодействие ОИВ с системой УНИФО ФК для передачи начислений и получения фактов оплаты.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="other">
				<xs:annotation><xs:documentation>Другие типы взаимодействия.</xs:documentation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NotDetected">
				<xs:annotation><xs:documentation>Не удалось определить тип взаимодействия.</xs:documentation></xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="string-50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="string-100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>


