client_1.11/client/xml-artifacts/transport-service/1.1/smev-message-exchange-types-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/1.1"
           xmlns:basic="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.1"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           targetNamespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/1.1"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           jxb:version="2.0"
        >

    <xs:annotation>
        <xs:documentation>
            Типы и элементы для веб-сервиса, который СМЭВ предоставляет всем участникам межведомственного взаимодействия для обмена сообщениями.
        </xs:documentation>
        <xs:appinfo>
            <jxb:schemaBindings>
                <!-- Напишите здесь имя пакета, в который должны попасть классы, сгенерированные из этой схемы с помощью ws import -->
                <jxb:package name="ru.voskhod.smev.message_exchange.autogenerated.types.v1_1"/>
            </jxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.1" schemaLocation="smev-message-exchange-basic-1.1.xsd"/>

    <xs:element name="SendRequestRequest">
        <xs:annotation><xs:documentation>Параметры метода "Послать запрос".</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:SenderProvidedRequestData">
                    <xs:annotation><xs:documentation>Содержательная часть запроса + служебные данные, заполняемые отправителем.</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element ref="basic:AttachmentContentList" minOccurs="0">
                    <xs:annotation><xs:documentation>Вложенные файлы - содержимое. Содержимое вынесено из-под ЭП-ОВ, чтобы не нарушать работу MTOM.</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            ЭП-ОВ или ЭП-ПГУ. Подписан элемент //SenderProvidedRequestData.
                            Подпись оставлена необязательной, чтобы клиентов можно было тестировать с упрощёнными эмуляторами СМЭВ.
                            Реальный СМЭВ отбивает сообщения без ЭП-ОВ или ЭП-ПГУ.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SendRequestResponse">
        <xs:annotation>
            <xs:documentation>
                Возвращаемое значение метода "Послать запрос": запрос принят.
                Если запрос не может быть принят, информация о причине отказа передаётся через SOAP fault, см. WSDL-описание сервиса.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:MessageMetadata">
                    <xs:annotation>
                        <xs:documentation>
                            Данные о сообщении: ID, присвоенный СМЭВ, дата приёма по часам СМЭВ, результат маршрутизации, etc.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            ЭП-СМЭВ. Подписан элемент //MessageMetadata.
                            Подпись оставлена необязательной, чтобы клиентов можно было тестировать с упрощёнными эмуляторами СМЭВ.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SendResponseRequest">
        <xs:annotation><xs:documentation>Параметры метода "Послать ответ на запрос".</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:SenderProvidedResponseData"/>
                <xs:element ref="basic:AttachmentContentList" minOccurs="0"/>
                <xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation><xs:documentation>ЭП-ОВ или ЭП-ПГУ. Подписан элемент //SenderProvidedResponseData.</xs:documentation></xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SendResponseResponse">
        <xs:annotation>
            <xs:documentation>
                Возвращаемое значение метода "Послать ответ на запрос": ответ принят.
                Если ответ не может быть принят, информация о причине отказа передаётся через SOAP fault, см. WSDL-описание сервиса.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:MessageMetadata">
                    <xs:annotation>
                        <xs:documentation>
                            Данные о сообщении: ID, присвоенный СМЭВ, дата приёма по часам СМЭВ, результат маршрутизации, etc.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            ЭП-СМЭВ. Подписан элемент //MessageMetadata.
                            Подпись оставлена необязательной, чтобы клиентов можно было тестировать с упрощёнными эмуляторами СМЭВ.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CancelRequestRequest">
        <xs:annotation><xs:documentation>Параметры метода "Отменить запрос".</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="basic:MessageReference"/>
                <xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation><xs:documentation>ЭП-ОВ или ЭП-ПГУ. Подписан элемент //MessageReference.</xs:documentation></xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CancelRequestResponse">
        <xs:annotation>
            <xs:documentation>
                Возвращаемое значение структура метода "Отмена запроса": процесс отмены запроса запущен.
                Если сообщение об отмене запроса было передано поставщику данных, будут возвращёны данные сообщения об отмене.
                Если отменяемое сообщение было найдено в очереди СМЭВ и удалено оттуда, элементы MessageMetadata и SMEVSignature будут опущены.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:MessageMetadata" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Данные о сообщении: ID, присвоенный СМЭВ, дата приёма по часам СМЭВ, результат маршрутизации, etc.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            ЭП-СМЭВ. Подписан элемент //MessageMetadata.
                            Подпись оставлена необязательной, чтобы клиентов можно было тестировать с упрощёнными эмуляторами СМЭВ.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetStatusRequest">
        <xs:annotation>
            <xs:documentation>
                Параметры метода "получить сообщение из моей входящей очереди запросов, если очередь не пуста".
                Какую входящую очередь смотреть - определаятся по владельцу сертификата, входящего в состав ЭЦП,
                и селектору типа запроса.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="basic:Timestamp"/>
                <xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType">
                    <xs:annotation>
                        <xs:documentation>
                            ЭП-ОВ или ЭП-ПГУ. Подписан элемент //Id.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetStatusResponse">
        <xs:annotation>
            <xs:documentation>
                Возвращаемая структура метода "получить сообщение из моей входящей очереди запросов, если очередь не пуста".
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:SmevAsyncProcessingMessage" minOccurs="0">
                    <xs:annotation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SmevAsyncProcessingMessage">
        <xs:annotation>
            <xs:documentation>
                Сообщение об статусе асинхронной обработки в СМЭВ.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="1" maxOccurs="1">
                    <xs:element ref="tns:AsyncProcessingStatus" />
                </xs:choice>
                <xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation><xs:documentation>ЭП-СМЭВ. Подписан элемент preceding-sibling:</xs:documentation></xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetRequestRequest">
        <xs:annotation>
            <xs:documentation>
                Параметры метода "получить сообщение из моей входящей очереди запросов, если очередь не пуста".
                Какую входящую очередь смотреть - определаятся по владельцу сертификата, входящего в состав ЭЦП,
                и селектору типа запроса.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="basic:MessageTypeSelector">
                    <xs:annotation>
                        <xs:documentation>
                            См. описание {urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.0}MessageTypeSelector
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            ЭП-ОВ или ЭП-ПГУ. Подписан элемент //MessageTypeSelector.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetResponseRequest">
        <xs:annotation>
            <xs:documentation>
                Параметры метода "получить сообщение из моей входящей очереди ответов, если очередь не пуста".
                Какую входящую очередь смотреть - определаятся по владельцу сертификата, входящего в состав ЭЦП,
                и селектору типа _ответа_.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="basic:MessageTypeSelector">
                    <xs:annotation>
                        <xs:documentation>
                            См. описание {urn://x-artefacts-smev-gov-ru/services/message-exchange/types/basic/1.0}MessageTypeSelector
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            ЭП-ОВ или ЭП-ПГУ. Подписан элемент //MessageTypeSelector.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetRequestResponse">
        <xs:annotation>
            <xs:documentation>
                Возвращаемая структура метода "получить сообщение из моей входящей очереди запросов, если очередь не пуста".
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RequestMessage" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Полученное сообщение. Если этот элемент отсутствует, это значит, что входящая очередь пуста.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice>
                                <xs:sequence>
                                    <xs:element ref="tns:Request"/>
                                    <xs:element ref="basic:AttachmentContentList" minOccurs="0"/>
                                </xs:sequence>
                                <xs:element ref="tns:Cancel"/>
                            </xs:choice>
                            <xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                                <xs:annotation><xs:documentation>ЭП-СМЭВ. Подписан элемент //Request, либо //Cancel</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetResponseResponse">
        <xs:annotation>
            <xs:documentation>
                Возвращаемая структура метода "получить сообщение из моей входящей очереди, если очередь не пуста".
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Если у GetResponseResponse нет child element, это значит, что входящая очередь пуста.
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="ResponseMessage">
                    <xs:annotation><xs:documentation>Ответ, присланный поставщиком данных.</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="tns:Response"/>
                            <xs:element ref="basic:AttachmentContentList" minOccurs="0"/>
                            <xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                                <xs:annotation><xs:documentation>ЭП-СМЭВ. Подписан элемент preceding-sibling::tns:Response</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SmevAsyncProcessingFailureMessage">
                    <xs:annotation>
                        <xs:documentation>
                            Сообщение об ошибке, обнаруженной в запросе в ходе асинхронной обработки в СМЭВ.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="tns:AsyncProcessingFailure"/>
                            <xs:element name="SMEVSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                                <xs:annotation><xs:documentation>ЭП-СМЭВ. Подписан элемент preceding-sibling::tns:AsyncProcessingFailure</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="AsyncProcessingFailure">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OriginalMessageId" type="basic:UUID"/>
                <xs:element name="FailureCategory">
                    <xs:annotation><xs:documentation>Категория ошибки.</xs:documentation></xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="MessageValidationFailure">
                                <xs:annotation><xs:documentation>Сообщение не прошло асинхронный ФЛК, либо асинхронную криптопроверку.</xs:documentation></xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="SystemFailure">
                                <xs:annotation><xs:documentation>В ходе асинхронной обработки произошла ошибка системы.</xs:documentation></xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="FailureDetails" type="basic:string-500">
                    <xs:annotation><xs:documentation>Объяснение, в чём заключается ошибка; в человекочитаемом виде.</xs:documentation></xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AsyncProcessingStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OriginalMessageId" type="basic:UUID"/>
                <xs:element name="StatusCategory">
                    <xs:annotation><xs:documentation>Категория статуса.</xs:documentation></xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="ProcessingStatus">
                                <xs:annotation><xs:documentation>Статус асинхронной обработки.</xs:documentation></xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="StatusDetails" type="basic:string-500" minOccurs="0">
                    <xs:annotation><xs:documentation>Описание процессинга в человекочитаемом виде.</xs:documentation></xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="AckRequest">
        <xs:annotation><xs:documentation>Параметры метода "Подтверждение получения сообщения".</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="basic:AckTargetMessage"/>
                <xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation><xs:documentation>ЭП-ОВ или ЭП-ПГУ. Подписан элемент preceding-sibling::basic:AckTargetMessage.</xs:documentation></xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AckResponse" type="basic:Void">
        <xs:annotation><xs:documentation>Возвращаемое значение метода "Подтверждение получения сообщения".</xs:documentation></xs:annotation>
    </xs:element>

    <xs:element name="GetIncomingQueueStatisticsRequest">
        <xs:annotation>
            <xs:documentation>
                Параметры метода "получить статистику входящей очереди".
                Какую входящую очередь смотреть - определаятся по владельцу сертификата, входящего в состав ЭЦП.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="basic:Timestamp"/>
                <xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            ЭП-ОВ или ЭП-ПГУ. Подписан элемент //СurrentTimestamp.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetIncomingQueueStatisticsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="QueueStatistics" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="queueName" type="basic:string-200"/>
                        <xs:attribute name="pendingMessageNumber" type="xs:long"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetInteractionStatusRequest">
        <xs:annotation><xs:documentation>Параметры метода "Дай статус межведомственного запроса".</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="basic:MessageReference">
                    <xs:annotation>
                        <xs:documentation>
                            Ссылка на сообщение типа "запрос", инициировавшего взмимодействие в рамках межведомственного запроса.
                            Сюда нужно писать ID СМЭВ-сообщения, который был передан при отправке сообщения в элементе //SendRequestRequest/SenderProvidedRequestData/MessageID.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CallerInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation><xs:documentation>ЭП-ОВ или ЭП-ПГУ. Подписан элемент //MessageReference.</xs:documentation></xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetInteractionStatusResponse">
        <xs:annotation><xs:documentation>Возвращаемая структура метода "Дай статус межведомственного запроса".</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:attribute name="Status" type="basic:InteractionStatusType"/>
            <xs:attribute name="StatusChangeTimestamp" type="xs:dateTime"/>
        </xs:complexType>
    </xs:element>


    <xs:element name="SenderProvidedRequestData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MessageID" type="basic:UUID">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор, присвоенный сообщению отправителем.
                            Генерируется в соответствии с RFC-4122, по варианту 1 (на основании MAC-адреса и текущего времени).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="basic:MessagePrimaryContent">
                    <xs:annotation><xs:documentation>Содержательная часть запроса, XML-документ.</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="PersonalSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            ЭП-СП содержательной части запроса.
                            Подписывается элемент, находящийся сразу под MessagePrimaryContent.
                            Хотя этот элемент не обязателен, поставщик данных может потребовать,
                            чтобы в запросах определённых типов ЭП-СП всегда была.
                            Это вызвано тем, что в ряде случаев, согласно ФЗ, сведения могут предоставляться только по запросам
                            должностных лиц определённого уровня.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="basic:AttachmentHeaderList" minOccurs="0">
                    <xs:annotation><xs:documentation>Заголовки вложенных файлов.</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element ref="basic:RefAttachmentHeaderList" minOccurs="0">
                    <xs:annotation><xs:documentation>Заголовки файлов по ссылке.</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="BusinessProcessMetadata" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Информация о бизнес-процессе, в рамках которого пересылается данное сообщение.
                            Формат данных определяется в отдельной схеме (схемах).
                            На текущий эта информация не обязательна для заполнения отправителем.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TestMessage" type="basic:Void" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Если этот элемент присутствует, то запрос - тестовый.
                            В этом случае, ИС-поставщик данных должна гарантировать, что её данные не будут изменены
                            в результате выполнения этого запроса.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="SenderProvidedResponseData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MessageID" type="basic:UUID">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор, присвоенный сообщению отправителем.
                            Генерируется в соответствии с RFC-4122, по варианту 1 (на основании MAC-адреса и текущего времени).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="To" type="basic:string-200">
                    <xs:annotation>
                        <xs:documentation>
                            Адрес доставки ответа. Копируется из запроса, //GetRequestResponse/ReplyTo/text()
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="basic:MessagePrimaryContent">
                            <xs:annotation><xs:documentation>Содержательная часть ответа, XML-документ.</xs:documentation></xs:annotation>
                        </xs:element>
                        <xs:element name="PersonalSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                            <xs:annotation><xs:documentation>ЭП-СП содержательной части ответа. Подписывается элемент, находящийся сразу под MessagePrimaryContent.</xs:documentation></xs:annotation>
                        </xs:element>
                        <xs:element ref="basic:AttachmentHeaderList" minOccurs="0">
                            <xs:annotation><xs:documentation>Заголовки вложенных файлов.</xs:documentation></xs:annotation>
                        </xs:element>
                        <xs:element ref="basic:RefAttachmentHeaderList" minOccurs="0">
                            <xs:annotation><xs:documentation>Заголовки файлов по ссылке.</xs:documentation></xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:element name="RequestRejected" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="RejectionReasonCode" type="basic:string-10" minOccurs="0">
                                    <xs:annotation><xs:documentation>Код причины отклонения запроса. Специфичен для ИС поставщика данных.</xs:documentation></xs:annotation>
                                </xs:element>
                                <xs:element name="RejectionReason" type="basic:string-500">
                                    <xs:annotation><xs:documentation>Причина отклонения запроса, в человекочитаемом виде.</xs:documentation></xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>



    <xs:element name="Request">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:SenderProvidedRequestData"/>
                <xs:element ref="tns:MessageMetadata">
                    <xs:annotation>
                        <xs:documentation>
                            Информация об отправителе, дате отправки, маршрутизации сообщения, и другая (см. определение типа).
                            Все данные заполняются СМЭВ.
                            Элемент //MessageMetadata/SendingTimestamp содержит дату и время, начиная с которых отсчитывается срок исполнения запроса.
                            Остальные данные предназначены для целей анализа (машинного и ручного) качества обслуживания
                            информационной системы - получателя сообщения,
                            а также для предоставления службе поддержки оператора СМЭВ в случае необходимости.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="basic:FSAttachmentsList"  minOccurs="0">
                </xs:element>
                <xs:element name="ReplyTo" type="basic:string-200">
                    <xs:annotation>
                        <xs:documentation>
                            Аналог обратного адреса; непрозрачный объект, по которому СМЭВ сможет вычислить, кому доставить ответ на этот запрос.
                            При отправке ответа нужно скопировать это значение в //SenderProvidedResponseData/To/text().
                            N.B. Формат обратного адреса не специфицирован, и может меняться со временем.
                            Больше того, в запросах, пришедших от одного и того же отправителя через сколь угодно малый промежуток времени,
                            обратный адрес не обязан быть одним и тем же.
                            Если получатель хочет идентифицировать отправителя, можно использовать либо маршрутную информацию СМЭВ
                            (//GetMessageIfAnyResponse/SMEVRoutingInfo/Sender/*), либо сертификат отправителя
                            (//GetMessageIfAnyResponse/CallerInformationSystemSignature/xmldsig:Signature/...)
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SenderInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation><xs:documentation>ЭП-ОВ или ЭП-ПГУ отправителя. Подписан элемент //SenderProvidedRequestData</xs:documentation></xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OriginalMessageId" type="basic:UUID"/>
                <xs:element ref="tns:SenderProvidedResponseData"/>
                <xs:element ref="tns:MessageMetadata"/>
                <xs:element ref="basic:FSAttachmentsList"  minOccurs="0">
                </xs:element>
                <xs:element name="SenderInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation><xs:documentation>ЭП-ОВ или ЭП-ПГУ отправителя. Подписан элемент //SenderProvidedResponseData</xs:documentation></xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Cancel">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="basic:MessageReference">
                    <xs:annotation>
                        <xs:documentation>
                            Ссылка на запрос, который нужно отменить.
                            Сюда нужно писать ID СМЭВ-сообщения, который был передан при отправке запроса в элементе
                            //SendRequestRequest/SenderProvidedRequestData/MessageID.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MessageID" type="basic:UUID">
                    <xs:annotation>
                        <xs:documentation>
                            Идентификатор, присвоенный СМЭВ уведомлению об отмене.
                            Генерируется в соответствии с RFC-4122, по варианту 1 (на основании MAC-адреса и текущего времени).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="tns:MessageMetadata"/>
                <xs:element name="SenderInformationSystemSignature" type="basic:XMLDSigSignatureType" minOccurs="0">
                    <xs:annotation><xs:documentation>ЭП-ОВ или ЭП-ПГУ отправителя. Подписан элемент //SenderProvidedCancelData</xs:documentation></xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="MessageMetadata">
        <xs:complexType>
            <xs:annotation><xs:documentation>Маршрутная информация, заполняемая СМЭВ.</xs:documentation></xs:annotation>
            <xs:sequence>
                <xs:element name="MessageType" type="tns:MessageTypeType"/>
                <xs:element name="Sender">
                    <xs:annotation><xs:documentation>Информация об отправителе сообщения.</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Mnemonic" type="basic:string-50">
                                <xs:annotation><xs:documentation>Мнемоника отправителя. Для машинной обработки. Вычисляется на основании данных сетрификата.</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element name="HumanReadableName" type="basic:string-500">
                                <xs:annotation>
                                    <xs:documentation>
                                        Наименование отправителя в форме, удобной для восприятия человеком.
                                        Вычисляется на основании данных сертификата.
                                        Не обязано полностью совпадать с официальным названием организации или органа власти.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SendingTimestamp" type="xs:dateTime">
                    <xs:annotation><xs:documentation>Дата и время отправки сообщения в СМЭВ.</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="MessageBroker" type="basic:string-200"/>
                <xs:element name="DestinationName" type="basic:string-500"/>
                <xs:element name="Recipient" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Получатель сообщения (вычислен маршрутизатором).
                            Для широковещательных сообщений не заполняется.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Mnemonic" type="basic:string-100">
                                <xs:annotation><xs:documentation>Мнемоника. Для машинной обработки.</xs:documentation></xs:annotation>
                            </xs:element>
                            <xs:element name="HumanReadableName" type="basic:string-500">
                                <xs:annotation><xs:documentation>Наименование в форме, удобной для восприятия человеком.</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SupplementaryData">
                    <xs:annotation><xs:documentation>Дополнительная информация о сообщении.</xs:documentation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DetectedContentTypeName" type="basic:string-500" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Тип сообщения. Вычисляется СМЭВ на основании полного имени (qualified name) корневого XML-элемента сообщения.
                                        Например, "Заявка на получение выписки из ЕГРИП".
                                        Для ответов на запросы этот элемент опускается.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="InteractionType" type="basic:InteractionTypeType">
                                <xs:annotation><xs:documentation>Тип взаимодействия, например, портал госуслуг - ОИВ.</xs:documentation></xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DeliveryTimestamp" type="xs:dateTime" minOccurs="0">
                    <xs:annotation><xs:documentation>Дата и время доставки сообщения, по часам СМЭВ.</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="Status" type="basic:InteractionStatusType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="MessageTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REQUEST"/>
            <xs:enumeration value="BROADCAST"/>
            <xs:enumeration value="RESPONSE"/>
            <xs:enumeration value="CANCEL"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
	

